.music-player-container{
	margin-left: 220px;
}

.music-player-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 32px;   
  cursor: pointer;
  padding: 20px;    
}

.icon-btn:hover {
  color: #1db954;
}

.song-name-player-page{
	color: white;
}


.like-and-share-btn-div{
	background: #222831;
	border-radius: 20px;
}

.music-controls{
	background: #222831;
	border-radius: 20px;
}






