.song-card-dashboard{
  display: inline-flex;
  flex-direction: row;
  margin: 10px;
  background: #222831;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 250px;
}

.song-details{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  justify-content: center;
  flex: 1;
}

.song-details p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.song-card-dashboard img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}


