.wrapper-search{
	margin-left: 220px;

}

.search-bar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	top: 35px;
	overflow: hidden;

	

	
}

.search-bar input[type=text] {
  float: right;
  padding: 11px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  outline: none;
  width: 300px;
}


.search-content{
	position: relative;
	top: 85px;
	padding: 25px;

	display: grid;
	grid-template-rows: 100px 100px 100px;
	grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-auto-rows: auto;
  gap: 0px;
}