.wrapper-search{
	margin-left: 220px;

}

.search-bar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	top: 35px;
	overflow: hidden;
	
}

.search-bar input[type=text] {
  float: right;
  padding: 11px;
  border: none;
  font-size: 15px;
  border-radius: 15px;
  outline: none;
  width: 350px;
  background: #484D5D;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.30);
}




.search-content{
	position: relative;
	top: 40px;
	padding: 25px;

	display: grid;
	 
	grid-auto-rows: 100px; 
	 

	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
