.wrapper-search{
	margin-left: 220px;

}

.search-bar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	top: 35px;
	overflow: hidden;

	

	
}

.search-bar input[type=text] {
  float: right;
  padding: 11px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  outline: none;
  width: 300px;
}


.search-content{
	position: relative;
	top: 85px;
	padding: 25px;
}